body {
    background-color: darkgray;
    background-image: url('../images/zigzag_bg.jpeg');
    background-size: cover; /* Optional: Scales the image to cover the entire container */
    background-repeat: no-repeat; /* Optional: Prevents the image from repeating */
    background-position: center; /* Optional: Centers the image */
    height: 100vh;
}
